body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0px;
  padding: 0px;
}

ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  .menu {
    display: flex;
    gap: 20px;
  }
}

.main {
  padding: 0 20px;
  .main_copy {
    margin-top: 100px;
    padding-bottom: 20px;
  }
  .main_items {
    display: flex;
    gap: 15px;
    .item {
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      &:hover {
        .item_img {
          transform: scale(1.2);
          transition-duration: 2s;
        }
      }
      .item_img {
        img {
          width: 100%;
        }
      }
      .item_info {
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
      }
    }
  }
}
